name: Build and Push to ECR

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1   # change to your region

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, Tag, and Push image
        run: |
          IMAGE_REPO=<eksrepo>
          IMAGE_TAG=latest
          docker build -t $IMAGE_REPO:$IMAGE_TAG .
          docker tag $IMAGE_REPO:$IMAGE_TAG ${{ steps.login-ecr.outputs.registry }}/$IMAGE_REPO:$IMAGE_TAG
          docker push ${{ steps.login-ecr.outputs.registry }}/$IMAGE_REPO:$IMAGE_TAG
